management:
  endpoints:
    jmx:
      exposure:
        include: "health"
    web:
      base-path: "/"
  endpoint:
    health:
      show-details: "always"
spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  application:
    name: bulk-scanning-payment-api
  jackson.date-format: yyyy-MM-dd
  flyway.enabled: true
  ### database configuration
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_NAME:bspayment}${POSTGRES_CONNECTION_OPTIONS:}
    username: ${POSTGRES_USERNAME:bspayment}
    password: ${POSTGRES_PASSWORD:bspayment}
    properties:
      charSet: UTF-8
    tomcat:
      max-active: 10
      max-idle: 10
      min-idle: 2
      max-wait: 10000
      test-on-borrow: true
      test-on-connect: true
      test-on-idle: true
      validation-query: "SELECT 1"
      time-between-eviction-runs-millis: 10000
      test-while-idle: true
      test-on-return: true
      remove-abandoned: true
      remove-abandoned-timeout: 60
      log-abandoned: true
      abandon-when-percentage-full: 0
security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/liveness"
    - "/actuator/**"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/search/**"
trusted:
  s2s:
    service:
      names: ccpay_bubble,cmc,bulk_scan_payment_processor
auth:
  idam:
    client:
      baseUrl: ${AUTH_IDAM_CLIENT_BASEURL}
  provider:
    service:
      client:
        baseUrl: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL}
